<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telphone=no, email=no">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
	<title>欢迎语</title>
	<script src ="./js/flexible.js"></script>
	<link rel="stylesheet" href="./css/common.css">
	<link rel="stylesheet" href="./css/index.css">
	<link href="https://cdn.bootcdn.net/ajax/libs/vant/2.12.15/index.min.css" rel="stylesheet">
</head>

<body class="index">
	<div id="app"></div>

	<script type="text/x-template" id="page-template">
		<div class="page">
			<div class="add-greeting">
				自定义欢迎语
				<button
					@click="onEditBtnClickHandler()"
					class="btn-add"
				>添加</button>
			</div>
	
			<ul class="greeting-list">
				<li
					v-for="greeting in greetingList"
					:key="greeting.id"
					class="greeting-item"
				>
					<div class="greeting-item-info">
						<span class="creator">创建人：{{ greeting.creator }}</span>
						<time class="create-time">{{ greeting.createTime | time }}</time>
					</div>
	
					<div class="greeting-item-content">
						<p class="text">{{ greeting.content }}</p>
						<ul class="attachment-list">
							<li
								v-for="attachment in greeting.attachments"
								:key="attachment.id"
								class="attachment-item"
							>
								<Attachment :value="attachment" />
							</li>
						</ul>
					</div>
	
					<div class="greeting-item-scope">
						适用于
						<p class="names">
							{{ getFilteredScopesTextByGreeting(greeting) }}
							<span class="count">{{ greeting.scopeNumber }}{{ greeting.scopeType | scopeUnitText }}</span>
							{{ greeting.scopeType | scopeTypeText }}
						</p>
					</div>
	
					<div class="greeting-item-footer">
						<div
							v-if="greeting.daypartingRules.length"
							class="mark mark-dayparting"
						>分时段欢迎语</div>
	
						<div class="actions">
							<button
								@click="onDeleteBtnClickHandler(greeting.id)"
								class="btn btn-delete"
							>删除</button>
							<button
								@click="onEditBtnClickHandler(greeting.id)"
								class="btn btn-edit"
							>编辑</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</script>

	<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vuex/3.6.2/vuex.min.js"></script>
	<script src="./js/url.js"></script>
	<script src="./js/http-vue-loader.js"></script>
	<script>
	(function() {
		window.__HTTP_VUE_LOADER_BASE_URL = './';
	})();
	</script>
	<script src="./js/http-vue-loader.config.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/vant/2.12.15/vant.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/qs/6.10.1/qs.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="./js/mock/api.mock.js"></script>
    <script src="./js/utils.js"></script>
    <script src="./js/store.js"></script>
	<script>
	(function() {
		/**
		 * @typedef {'image' | 'anchor' | 'mini-program'} ItemScopeType
		 * 
		 * @typedef Scope
		 * @property {number} id
		 * @property {string} name
		 * @property {ItemScopeType} type
		 * 
		 * @typedef Attachment
		 * @property {ItemScopeType} type
		 * @property {string} cover
		 * @property {string} title
		*/

		/**
		 * @typedef DataItem
		 * @property {number} id
		 * @property {DataType} type
		 * @property {string} name
		 * @property {DataItem[]} [children]
		*/

		/**
		 * @typedef Trench 渠道
		 * @property {number} id 渠道 ID
		 * @property {string} name 渠道名称
		 * @property {'trench'} type 渠道类型
		 * @property {string} avatar 渠道图片
		*/

		/**
		 * @typedef {'BY_STAFF_AND_DEPARTMENT' | 'BY_TRENCH'} ScopeType 范围类型
		 * - BY_STAFF_AND_DEPARTMENT: 按部门及员工
		 * - BY_TRENCH: 按渠道
		*/

		/**
		 * @typedef DaypartingRule 分时段规则
		 * @property {string} content
		 * @property {Object} timeRange
		 * @property {number[]} timeRange.days
		 * @property {string} timeRange.startTime
		 * @property {string} timeRange.endTime
		 * @property {Attachment} attachments
		*/

		/**
		 * @typedef Greeting 配欢迎语置
		 * @property {number} id
		 * @property {number} createTime
		 * @property {string} creator
		 * @property {ScopeType} scopeType
		 * @property {number} scopeNumber
		 * @property {DataItem[]} scopeItems
		 * @property {string} content
		 * @property {Attachment[]} attachments
		 * @property {DaypartingRule[]} daypartingRules
		*/

		var GREETING_PAGE_PATH = './greeting.html'; // 新增和编辑要跳转的地址
		var SCOPES_TEXT_LENGTH_LIMIT = 12; // 适用范围最长显示字符数量

		var getFilteredScopes = window['__UTILS'].getFilteredScopes;

		new Vue({
            store: window['__VUEX_STORE'],
			template: '#page-template',
			el: '#app',
			components: {
				Attachment: httpVueLoader('/components/Attachment.vue')
			},
			filters: {
				/**
				 * 格式化日期
				 * @param {string | number | Date} time 时间
				 * @param {string} fmtStr 格式化字符串
				 * @returns {string}
				*/
				time: function(time, fmtStr) {
					fmtStr = fmtStr || 'YYYY.MM.DD HH:mm';
					return moment(time).format(fmtStr);
				},
				/**
				 * 适用范围的单位文字
				 * @param {ItemScopeType} scopeType 范围类型
				 * @returns {'名' | '个'}
				*/
				scopeUnitText: function(scopeType) {
					return ({
						'BY_STAFF_AND_DEPARTMENT': '名',
						'BY_TRENCH': '个'
					})[scopeType] || '';
				},
				/**
				 * 适用范围名词文字
				 * @param {ItemScopeType} scopeType 范围类型
				 * @returns {'员工' | '渠道'}
				*/
				scopeTypeText: function(scopeType) {
					return ({
						'BY_STAFF_AND_DEPARTMENT': '员工',
						'BY_TRENCH': '渠道'
					})[scopeType] || '';
				}
			},
			data: function() {
				return {
					greetingList: []
				};
			},
			methods: Object.assign({
				/**
				 * 通过欢迎语对象获取过滤后的适用范围列表
				 * @param {Greeting} greeting 欢迎语配置对象
     			 * @returns {string}
				*/
				getFilteredScopesTextByGreeting: function(greeting) {
					var filteredScopesText = greeting.scopeItems.map(function(scope) {
						return scope.name;
					}).join('；');
					return filteredScopesText.slice(0, SCOPES_TEXT_LENGTH_LIMIT) + (filteredScopesText.length > SCOPES_TEXT_LENGTH_LIMIT ? '...等' : '');
				},
				/**
				 * 获取欢迎语列表
				 * @returns {Promise<void>}
				 */
				getGreetingList: function() {
					var toast = vant.Toast.loading('加载中');
					var _this = this;
					return axios.get(window['__MOCK_API'].getGreetingLiist)
						.then(function(response) {
							if (!response.data.success) return vant.Toast.fail(response.data.alertMsg);
							_this.greetingList = response.data.data;
							toast.clear();
						});
				},
				/**
				 * 删除欢迎语
				 * @param {number} greetingId - 欢迎语 id
				 * @returns {void}
				*/
				onDeleteBtnClickHandler: function(greetingId) {
					var _this = this;
					var isLoading = false;
					vant.Dialog.confirm({
						title: '提示：',
						message: '删除后将无法恢复，确定删除？',
						confirmButtonText: '确定',
						className: 'delete-dialog',
						beforeClose: function(action, done) {
							if (isLoading) return;
							if (action === 'confirm') {
								isLoading = true;
								return axios.get(window['__MOCK_API'].successNoData).then(function() {
									var greetingList = [].concat(_this.greetingList);
									greetingList.splice(greetingList.findIndex(function(greeting) {
										return greeting.id === greetingId;
									}), 1);
									_this.greetingList = greetingList;
									done();
								});
							}
							done();
						}
					});
				},
				/**
				 * 编辑欢迎语
				 * @param {number} greetingId 欢迎语 id
				 * @returns {void}
				*/
				onEditBtnClickHandler: function(greetingId) {
					window.location.href = GREETING_PAGE_PATH + '?' + Qs.stringify({
						action: greetingId ? 'edit' : 'add',
						id: greetingId
					});
				}	
			}),
			mounted: function() {
				this.getGreetingList();
			}
		});
	})();
	</script>
</body>

</html>
