<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telphone=no, email=no">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
	<title>欢迎语</title>
	<script src ="./js/flexible.js"></script>
	<link rel="stylesheet" href="./css/common.css">
	<link rel="stylesheet" href="./css/index.css">
	<link href="https://cdn.bootcdn.net/ajax/libs/vant/2.12.15/index.min.css" rel="stylesheet">
</head>

<body class="index">
	<div id="app"></div>

	<script type="text/x-template" id="page-template">
		<div class="page">
			<div class="add-greeting">
				自定义欢迎语
				<button
					@click="onEditBtnClickHandler()"
					class="btn-add"
				>添加</button>
			</div>
	
			<ul class="greeting-list">
				<li
					v-for="greeting in greetingList"
					:key="greeting.id"
					class="greeting-item"
				>
					<div class="greeting-item-info">
						<span class="creator">创建人：{{ greeting.creator }}</span>
						<time class="create-time">{{ greeting.createTime | time }}</time>
					</div>
	
					<div class="greeting-item-content">
						<p class="text">{{ greeting.content }}</p>
						<ul class="attachment-list">
							<li
								v-for="attachment in greeting.attachments"
								:key="attachment.id"
								class="attachment-item"
							>
								<Attachment :value="attachment" />
							</li>
						</ul>
					</div>
	
					<div class="greeting-item-scope">
						适用于
						<p class="names">
							{{ greeting.scopes | sliceScopeText }}
							<span class="count">{{ greeting.scopeCount }}{{ greeting.scopeType | scopeUnitText }}</span>
							{{ greeting.scopeType | scopeTypeText }}
						</p>
					</div>
	
					<div class="greeting-item-footer">
						<div
							v-if="greeting.isDayparting"
							class="mark mark-dayparting"
						>分时段欢迎语</div>
	
						<div class="actions">
							<button
								@click="onDeleteBtnClickHandler(greeting.id)"
								class="btn btn-delete"
							>删除</button>
							<button
								@click="onEditBtnClickHandler(greeting.id)"
								class="btn btn-edit"
							>编辑</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</script>

	<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.min.js"></script>
	<script src="./js/http-vue-loader.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/vant/2.12.15/vant.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/qs/6.10.1/qs.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
	<script src="./js/mock/api.mock.js"></script>
	<script>
	(function() {
		/**
		 * @typedef {'staff' | 'department' | 'trench'} ScopeType
		 * 
		 * @typedef Scope
		 * @property {number} id
		 * @property {string} name
		 * @property {ScopeType} type
		 * 
		 * @typedef Attachment
		 * @property {'image' | 'anchor' | 'mini-program'} type
		 * @property {string} cover
		 * @property {string} title
		*/

		var GREETING_PAGE_PATH = './greeting.html';

		new Vue({
			template: '#page-template',
			el: '#app',
			components: {
				Attachment: httpVueLoader('./components/Attachment.vue')
			},
			filters: {
				/**
				 * 格式化日期
				 * @param {string | number | Date} time 时间
				 * @param {string} fmtStr 格式化字符串
				 * @returns {string}
				*/
				time: function(time, fmtStr) {
					fmtStr = fmtStr || 'YYYY.MM.DD HH:mm';
					return moment(time).format(fmtStr);
				},
				/**
				 * 界面上显示的适用范围文字
				 * @param {Scope[]} scopes 适用对象
				 * @param {number} [limit=3] 最大显示长度
				 * @returns {string}
				*/
				sliceScopeText: function(scopes, limit) {
					limit = 3 | limit;
					return scopes.slice(0, limit).map(function(scope) {
						return scope.name;
					}).join('；') + (scopes.length > limit ? '...等' : '');
				},
				/**
				 * 适用范围的单位文字
				 * @param {ScopeType} scopeType 范围类型
				 * @returns {'名' | '个'}
				*/
				scopeUnitText: function(scopeType) {
					return ({
						'staff_and_department': '名',
						'trench': '个'
					})[scopeType] || '';
				},
				/**
				 * 适用范围名词文字
				 * @param {ScopeType} scopeType 范围类型
				 * @returns {'员工' | '渠道'}
				*/
				scopeTypeText: function(scopeType) {
					return ({
						'staff_and_department': '员工',
						'trench': '渠道'
					})[scopeType] || '';
				}
			},
			data: function() {
				return {
					greetingList: []
				};
			},
			methods: {
				/**
				 * 获取欢迎语列表
				 * @returns {Promise<void>}
				 */
				getGreetingList: function() {
					var toast = vant.Toast.loading('加载中');
					var _this = this;
					return axios.get(window['__MOCK_API'].getGreetingLiist)
						.then(function(response) {
							if (!response.data.success) return vant.Toast.fail(response.data.alertMsg);
							_this.greetingList = response.data.data;
							toast.clear();
						});
				},
				/**
				 * 删除欢迎语
				 * @param {number} greetingId - 欢迎语 id
				 * @returns {void}
				*/
				onDeleteBtnClickHandler: function(greetingId) {
					var _this = this;
					var isLoading = false;
					vant.Dialog.confirm({
						title: '提示：',
						message: '删除后将无法恢复，确定删除？',
						confirmButtonText: '确定',
						className: 'delete-dialog',
						beforeClose: function(action, done) {
							if (isLoading) return;
							if (action === 'confirm') {
								isLoading = true;
								return axios.get(window['__MOCK_API'].successNoData).then(function() {
									var greetingList = [].concat(_this.greetingList);
									greetingList.splice(greetingList.findIndex(function(greeting) {
										return greeting.id === greetingId;
									}), 1);
									_this.greetingList = greetingList;
									done();
								});
							}
							done();
						}
					});
				},
				/**
				 * 编辑欢迎语
				 * @param {number} greetingId 欢迎语 id
				 * @returns {void}
				*/
				onEditBtnClickHandler: function(greetingId) {
					window.location.href = GREETING_PAGE_PATH + '?' + Qs.stringify({
						action: greetingId ? 'edit' : 'add',
						id: greetingId
					});
				}	
			},
			mounted: function() {
				this.getGreetingList();
			}
		});
	})();
	</script>
</body>

</html>
